# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.xcworkspace/xcuserdata/
ihatefiles.xcodeproj/

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods / Carthage
Pods/
Carthage/Build/
